<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="@Class @(IsSelected ? "bg-amber-200" : "bg-gray-200") relative rounded p-3 shadow-sm" @onmouseenter="() => hovered = true" @onmouseleave="() => hovered = false">
    @if (hovered && IsSelected)
    {
        <div class="-translate-y-1/2 absolute -left-5 top-1/2 flex justify-center">
            <button @onclick="MoveLeft">
                <span class="material-symbols-outlined text-center">
                    arrow_back_ios
                </span>
            </button>
        </div>
    }
    <div class="flex h-full flex-col justify-between">
        <div class="w-full">
            <div class="font-bold">@(Product.Name)</div>
            <div class="text-xs">@(Product.Description)</div>
        </div>
        <div>@Product.Price UAH</div>
    </div>
    @if (hovered && IsSelected)
    {
        <div class="-translate-y-1/2 absolute -right-6 top-1/2 flex justify-center">
            <button @onclick="MoveRight">
                <span class="material-symbols-outlined text-center">
                    arrow_forward_ios
                </span>
            </button>
        </div>
    }
</div>

@code {
    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public Product Product { get; set; }

    [Parameter]
    public bool IsSelected { get; set; } = false;

    private bool hovered { get; set; } = false;

    private async Task MoveLeft()
    {

    }

    private async Task MoveRight()
    {
        
    }
}
